body {
    display: flex;
    width: 100%;
    min-height: 100vh;
    flex-direction: column;
    background-color: #fff;
    color: #000;
}

.base-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    margin: 1em;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30em;
    height: 40em;

}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 30em;
    height: 100%;
}


.rotclogo{
    margin-top: 3em;
    width:17em;
}

img{
    width:100%;
    height: 100%;
}

.textforms{
    margin-top: 5em;
    display:flex;
    flex-direction: column;
    align-items: center;

}

.displayform{
    margin-top: 2em;
    display:flex;
    flex-direction: column;
    align-items: center;

}

.textfield{
    margin: 6px;
    min-width: 16em;
    height: 37px;
    padding: 0px 10px;
    font-size: 16px;
    background-color: #fff;
    color:#000;  
    border-radius: 4px;
    transition: all 250ms ease-in-out;
}
.textfield:focus{
    margin: 6px;
    min-width: 18em;
    height: 37px;
    padding: 0px 10px;
    font-size: 16px;
    background-color: #fff;
    color:#000;  
    border-radius: 4px;
    transition: all 250ms ease-in-out;
}

.bigtextfield{
    margin: 6px;
    min-width: 16em;
    height: 200px;
    padding: 0px 10px;
    font-size: 16px;
    background-color: #fff;
    color:#000;  
    border-radius: 4px;
    transition: all 250ms ease-in-out;
}

.bigtextfield:focus{
    margin: 6px;
    min-width: 18em;
    height: 200px;
    padding: 0px 10px;
    font-size: 16px;
    background-color: #fff;
    color:#000;  
    border-radius: 4px;
    transition: all 250ms ease-in-out;
}
.commentfield{
    margin: 6px;
    min-width: 16em;
    height: 100px;
    padding: 0px 10px;
    font-size: 16px;
    background-color: #fff;
    border:0;   
    color:#000;  
    border-radius: 4px;
    transition: all 250ms ease-in-out;
}

.commentfield:focus{
    margin: 6px;
    min-width: 18em;
    height: 200px;
    padding: 0px 10px;
    font-size: 16px;
    background-color: #fff;
    border:0;   
    color:#000;  
    border-radius: 4px;
    transition: all 250ms ease-in-out;
}

.list{
    align-items: center;
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;

    
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #000;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 6px;
  }
  
.button:hover {
    background-color: #fff;
    color: #000;
    width: 120px;
}

.dropmenu{
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 17em;
    display: inline-block;
    border-radius: 4px;
    background-color: #000;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 10px 0px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 6px;
    background-image:
      linear-gradient(45deg, transparent 50%, gray 50%),
      linear-gradient(135deg, gray 50%, transparent 50%),
      linear-gradient(to right, #ccc, #ccc);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      calc(100% - 2.5em) 0.5em;
    background-size:
      5px 5px,
      5px 5px,
      1px 1.5em;
    background-repeat: no-repeat;
}

.fileinput{
    cursor: pointer;
    margin-top: 6px;    
}

.posttitle{
    margin: 6px;
}

.postdesc{
    
}

.postfile{
    
}